.post{
    width: clamp(500px, 100%, 680px);
    box-shadow: 0px 0px 2px  rgba(0, 0, 0, 0.301);
    border-radius: 8px;
    display: flex;
    background-color: white;
    flex-direction: column;
}
.feed{
    display: flex;
    flex-direction: column;
}
.posts-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.post-header{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 16px 4px 16px;
}

.post-user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gainsboro;
}

.post-subheader{
    text-align: left;
}
.post-name{
    font-weight: 600;
    text-transform: capitalize;
}

.post-data{
    color: rgb(102, 102, 102);
}

.post-content{
    padding: 16px;
    padding-bottom: 0px;
    padding-top: 6px;
    text-align: left;
}

.post-reactions{
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    color: rgb(106, 108, 114);
}
.post-counts{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.post-options{
    padding: 3px 0px;
    display: flex;
    border-top: 1px solid gainsboro;
    width: 100%;
    gap: 8px;
}
.post-options:hover{
    background-color: blueviolet;
}
.post-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
    color: rgb(125, 127, 133);
    gap: 8px;
    align-items: center;
    font-weight: 600;
}
.post-button:hover{
    background-color: rgb(241, 241, 241);
}
.post-button-icon{
    height: 100%;
}
.post-button-icon svg{
    height: 100%;
    fill: rgb(106, 108, 114);
    display: block;
}