.main-home {
    display: flex;
}

.post-loading .post-subheader {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

.post-loading .post-media {
    height: 150px;
}

.post-loading .post-options {
    border: 0px;
    justify-content: space-evenly;
    padding-bottom: 8px;
}

.post-form-create .modal-content {
    padding: 16px;
}

.post-loading .post-subheader>*,
.post-loading .post-options>* {
    font-size: .7rem;
    color: transparent;
    background-color: gainsboro;
    border-radius: 50px;
}

.main-home .right-aside {
    padding-top: 8px;
    width: clamp(248px, 100%, 368px);
    text-align: left;
}

.input-wrapper .hover-bar {
    cursor: pointer;
    padding-left: 14px;
}

.hover-bar {
    transition: 200ms;
    background-color: var(--background-color);
}

.hover-bar:hover {
    background-color: var(--hover-color-search);
}

.left-aside {
    padding-top: 8px;
    width: clamp(248px, 100%, 300px);
    text-align: left;

}

.sub-title {
    padding: 20px 16px 0px 16px;
    font-size: 1.2rem;
    margin: 0px;
}

.post {
    width: clamp(200px, 100%, 680px);
    box-shadow: var(--box-shadow-light);
    border-radius: 8px;
    display: flex;
    background-color: var(--alt-background-color);
    flex-direction: column;
}

.post-form .modal-wrapper {
    flex: 1;
}

.post-form-create .post-header {
    padding: 8px;
    position: relative;
    border-radius: 6px;
}

.post-content-input__suggestions .post-header:hover {
    background-color: gainsboro;
}

.post-form-create .group-options {
    top: 100%;
    z-index: 1;
}

.post-form-create .post-name:hover {
    text-decoration: none;
}

.post-form-create .post-data {
    width: fit-content;
    background-color: var(--svg-container-color);
    font-size: .9rem;
    color: var(--color);
    font-weight: 600;
    padding: 2px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.post-content-input {
    margin-top: 16px;
    border: 0px;
    font-size: 1.6rem;
}

.post-content-input {
    overflow: auto;
    max-height: 150px;
}


.post-content-input__highlighter strong {
    background-color: rgb(228, 240, 255);
}

.post-content-input__highlighter {
    max-height: 150px;
}

.post-header.mention {

    font-size: 1rem;
}

.post-content-input__suggestions {
    padding: 4px;
    left: 0px !important;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.151);
    top: 100% !important;
    width: 300px;
    border-radius: 8px;
}

.post-content-input__suggestions__list {
    display: flex;
    flex-direction: column;
}

.post-content-input__control {
    max-height: 150px;
    overflow: auto;
}

.post-content-input textarea {
    border: 0px;
    outline: 0px;
    overflow: auto !important;
}

.wrapper.post-form-create {
    width: 500px;
}

.feed {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 16px;
}

.post-form {
    margin-top: 16px;
    padding: 0px 16px;
    padding-top: 16px;
    gap: 12px;
}

.post-form .post-button-icon svg {
    fill: #4DB863;
    height: 100%;
}

.post-form-header {
    width: 100%;
    display: flex;
    gap: 8px;
}

.post-form .input-wrapper {
    flex: 1;

}

.post-form .input-wrapper input {
    height: 40px;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.post-content a,
.comment-text a {
    color: rgb(47, 102, 255);
    text-transform: capitalize;
}

.post-content a:hover,
.comment-text a:hover {
    text-decoration: underline;
}

.post-media {
    height: 448px;
    z-index: 1;
}

.post-media-profile {
    height: 448px;
    position: relative;
}

.post-media-profile>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 388px;
    height: 388px;
    border-radius: 50%;
    background-color: var(--alt-background-color);
    box-shadow: 0px 0px 0px 6px var(--alt-background-color);
}

.post-media-profile .post-banner {
    height: 50%;
    background-color: var(--svg-container-color);
}

.post-header {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 16px 4px 16px;
}

.post-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.post-subheader {
    text-align: left;
    line-height: 18px;
}

.post-type-name {
    display: flex;
    gap: 4px;
}

.post-name {
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color);
    text-decoration: none;
}

.post-name:hover {
    text-decoration: underline;
}

.post-data {
    color: var(--color-light);
}

.post-content {
    padding: 16px;
    padding-bottom: 16px;
    padding-top: 6px;
    text-align: left;
    white-space: pre-line;
}

.post-form-content {
    max-height: 550px;
    height: clamp(0px, 100%, 550px);
}

.post-form-extras {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-top: 16px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.098);
}

.post-form-content .post-create-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 3px;
    height: clamp(350px, 100%, 478px);
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    max-height: 478px;
}

.post-create-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2px;
    height: clamp(350px, 100%, 478px);
    position: relative;
    overflow: hidden;
    max-height: 478px;
    z-index: 1;
}

.main-post.length1 {
    display: initial;
    border-radius: 0px;
}

.main-post img {
    border: 0.5px solid gainsboro;
    border-left: 0px;
    border-right: 0px;
}

.main-post {
    border-radius: 0px;
}

.post-create-images-close {
    position: absolute;
    top: 12px;
    background-color: gainsboro;
    height: 28px !important;
    width: 28px !important;
    border-radius: 50%;
    padding: 4px;
    right: 12px;
    fill: rgb(68, 68, 68);
}

.post-create-images-add {
    position: absolute;
    top: 12px;
    background-color: gainsboro;
    border-radius: 8px;
    left: 12px;
    fill: rgb(68, 68, 68);
    display: flex;
    gap: 6px;
    padding: 6px 10px;
    white-space: nowrap;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
}

.post-create-images-add:hover {
    background-color: var(--background-color);
}

.post-create-images-add svg {
    height: 24px;
}

.post-create-images-wrapper {
    padding: 10px;
    margin-top: 16px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}


.post-form-content .post-create-images.length3>*:first-child {
    grid-row: span 2;
    height: 100%;
}

.post-form-content .post-create-images.length4>*:first-child {
    grid-row: span 3;
    height: 100%;
}

.post-form-content .post-create-images.length4>* {
    height: 160px;
}

.post-form-content .post-create-images.length3>* {
    height: 180px;
}

.post-create-images.length3>*:first-child {
    grid-row: span 2;
    height: 100%;
}

.post-create-images.length4>*:first-child {
    grid-row: span 3;
    height: 100%;
}

.post-create-images.length4>* {
    height: 200px;
}

.post-create-images.length3>* {
    height: 210px;
}

.post-form-extras-options {
    display: flex;
}

.post-form-extras-options svg {
    width: 24px;
    height: 24px;
}

.post-create-images img {
    border: 0px;
}

.post-reactions {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    color: var(--color-light);
}

.post-counts {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px;
}

.post-options::after {
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    background-color: var(--border-color);
    top: -1px;
}

.post-options {
    position: relative;
    padding: 5px 0px;
    display: flex;
    width: 100%;
    gap: 8px;
    position: relative;
}

.post-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
    color: var(--color-light);
    gap: 8px;
    align-items: center;
    font-weight: 600;
    text-transform: capitalize;
    height: 30px;
}

.post-button:hover {
    background-color: var(--hover-color);
}

.post-button-icon {
    height: 100%;
}

.post-button-icon svg {
    height: 100%;
    fill: var(--svg-color);
    display: block;
}

.post-button.like {
    color: rgb(19, 121, 255);
}

.post-button.like svg {
    fill: rgb(19, 121, 255);
}

.contacts-list {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
}

.contact {
    width: 100%;
    display: flex;
    align-items: center;
    transition: 200ms;
    padding: 0px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.contact:hover {
    background-color: rgba(0, 0, 0, 0.028);
}

.contact-name {
    text-transform: capitalize;
    font-weight: 600;
    flex: 1;
}

.contact-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--svg-container-color);
    margin: 8px 12px 8px 0px;
    position: relative;
}

.contact-img img {
    overflow: hidden;
    border-radius: 50%;
}

.right-aside {
    margin-right: 16px;
}

.left-aside {
    padding: 18px;
    padding-top: 8px;
}

.left-aside section {
    padding: 8px 0px;
    border-bottom: 1px solid var(--border-color);
}

.middle-section svg {
    fill: rgb(19, 121, 255);
}

.section-svg.saved svg {
    fill: rgb(114, 0, 196);
}

.section-item {
    padding: 8px 2px;
    font-weight: 600;
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: var(--color);
    text-decoration: none;
}

.section-item>* {
    z-index: 2;
}

.section-item:hover::after {
    content: '';
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    position: absolute;
    width: calc(100% + 14px);
    height: calc(100% + 4px);
    background-color: var(--hover-color);
}

.nav-svg img {
    border-radius: 50%;
}

.capitalize {
    text-transform: capitalize;
}

.section-icon {
    width: 24px;
    background-color: gainsboro;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}

.section-svg,
.group-profile {
    width: 24px;
    height: 24px;
}

.group-profile {
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--svg-container-color);
}

.section-svg svg {
    width: 100%;
    aspect-ratio: 1/1;
    height: 100%;
    fill: var(--svg-color);
}

.section-item::before {
    content: '';
    position: absolute;
    width: 6px;
    left: -20px;
    border-radius: 15px;
    height: 100%;
    background-color: rgb(47, 102, 255);
    transform: scaleY(0);
}

.section-item.active::before {
    transition: 400ms;
    transform: scaleY(1);
}

.not-home .section-item>div:last-of-type {
    display: none;
}

.not-home {
    width: fit-content;
    background-color: var(--alt-background-color);
    border-right: 1px solid var(--border-color);
}

.post-modal-container {
    flex: 1;
}

.post-modal-container .trigger-wrapper {
    display: flex;
}

.post-modal-container .modal-content {
    padding: 0px;
}

.post-modal-container .post {
    width: 700px;
    box-shadow: none;
    margin: 0px;
    overflow: auto;
    border-radius: 0px;
    max-height: 720px;
}

.comment-form {
    padding: 9px 16px;
    display: flex;
    gap: 6px;
    align-items: flex-start;
}

.comment-user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 3px;
}

.comment-content {
    flex: 1;
    margin: 0px;
    font-size: 1rem;
    font-family: inherit;
    padding: 8px 12px;
    outline: none;
    border: 0px;
    background-color: var(--search-background-color);
    border-radius: 18px;
    width: 100%;
    position: relative;
    text-align: left;
    color: var(--color);
}

.comment-content .post-content-input {
    margin: 0px;
    font-size: 1rem;
}

.comment-content button {
    position: absolute;
    right: 12px;
    bottom: 9px;
    padding: 0px;
    border: 0px;
    outline: none;
    background-color: var(--background-color);
}

.comment-content svg {
    display: block;
    transition: 200ms;
    background-color: var(--search-background-color);
}

.comment-content input {
    font-size: 1rem !important;
    border: 0px;
    outline: none;
}

.comment {
    padding: 4px 16px 0px 16px;
    display: flex;
    gap: 6px;
    align-items: flex-start;
    position: relative;
}

.comment .comment {
    padding: 4px 12px 0px 12px;
}

.comment-user-name {
    font-weight: 600;
    text-transform: capitalize;
    font-size: .87rem;
}

.comment-user-name:hover {
    text-decoration: underline;
}

.comment .comment-content {
    flex: initial;
    line-height: 16px;
    width: fit-content;
}

.comment-form>.comment-content {
    flex: 1;
    line-height: initial;
}

.post-comments-count:hover {
    text-decoration: underline;
    cursor: pointer;
}

.comment-extra {
    display: flex;
    font-size: .8rem;
    padding-left: 12px;
    padding-top: 2px;
    gap: 16px;
    text-transform: capitalize;
    position: relative;
}

.comment-extra .like {
    color: rgb(19, 121, 255);
}

.comment-extra strong:hover {
    text-decoration: underline;
    cursor: pointer;
}

.comment-right {
    flex: 1;
}

.replies-count {
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    color: gray;
    font-weight: 600;
    padding-top: 6px;
    padding-bottom: 4px;
    cursor: pointer;
    width: fit-content;
}

.replies-count:hover {
    text-decoration: underline;
}

.replies-count svg {
    fill: gray;
    width: 16px;
    height: 16px;
}

.comment-reactions-imgs img {
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 50%;
}

.comment-reactions-imgs>img:not(:first-child) {
    margin-left: -4px;
}

.comment-reactions {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.138);
    position: absolute;
    height: 20px;
    right: -10px;
    bottom: 4px;
    background-color: var(--alt-background-color);
    padding: 2px;
    border-radius: 20px;
    display: flex;
    gap: 3px;
    color: gray;
    font-weight: 600;
    font-size: .8rem;
    overflow: hidden;
}

.post-reactions-counter {
    display: flex;
    text-transform: capitalize;
    gap: 6px;
    flex: 1;
}

.post-reactions-imgs {
    display: flex;
    height: 18px;
}

.post-reactions-imgs img {
    box-shadow: 0px 0px 0px 2px var(--alt-background-color);
    border-radius: 50%;
    z-index: 1;
}

.post-reactions-imgs img:not(:first-child) {
    margin-left: -2px;
}

.relative {
    position: relative;
}

.post-reactions-options:not(.comment) {
    position: absolute;
    left: 0px;
    gap: 6px;
    background-color: var(--alt-background-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.151);
    top: 12px;
    border-radius: 40px;
    height: 0px;
    padding: 6px 10px;
    display: flex;
    height: 52px;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
}

.post-reactions-options.comment {
    position: absolute;
    left: 0px;
    gap: 6px;
    background-color: var(--alt-background-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.151);
    left: 16px;
    border-radius: 40px;
    height: 0px;
    padding: 6px 10px;
    display: flex;
    height: 52px;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
}

.post-reactions-options img {
    transition: 200ms;
}

.post-reactions-options img:hover {
    transform: scale(1.4) translateY(-4px);
}

.post-button:hover+.post-reactions-options {
    visibility: visible;
    opacity: 1;
    top: -100%;
    transition: 200ms 800ms;
}

.post-reactions-options:not(.comment):hover {
    visibility: visible;
    opacity: 1;
    top: -100%;
    transition: 0ms 800ms;
}

.comment .post-reactions-options:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(-100%);
    transition: 200ms 800ms;
}

.comment-extra .post-button:hover+.post-reactions-options {
    visibility: visible;
    opacity: 1;
    top: -100%;
    transition: 200ms 800ms;
}

strong:hover+.post-reactions-options {
    visibility: visible;
    opacity: 1;
    transform: translateY(-100%);
    transition: 200ms 800ms;
}

.love {
    color: #F05969
}

.haha {
    color: #FFC107;
}

.wow {
    color: #FFC107;
}

.sad {
    color: #8B9DC3;
}

.angry {
    color: #DC4E41;
}

.care {
    color: #FFC0CB;
}

.comment-reactions-imgs {
    display: flex;
}

.post-form-submit {
    padding: 8px 3rem;
    font-size: 1rem;
    border: 0px;
    font-weight: 600;
    transition: 100ms;
    background-color: rgb(24, 118, 242);
    color: white;
    font-family: inherit;
    border-radius: 4px;
    margin-top: 16px;
    width: 100%;
}

.group-post {
    width: 36px;
    height: 36px;
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
}

.group-post-user {
    width: 24px;
    height: 24px;
    z-index: 2;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.group-post-user img{
    box-shadow: 0px 0px 0px 1.5px var(--alt-background-color);
}

.post-user.group {
    border-radius: 0px;
    background-color: transparent;
}

.post-data.group a {
    color: var(--color-light);
    font-size: .85rem;
    font-weight: 600;
    cursor: pointer;
}

.post-data.group a:hover {
    text-decoration: underline;
}

.svg-container svg {
    display: block;
    fill: var(--svg-color);
}

.svg-container {
    position: relative;
}

.nav-svg .count {
    background-color: #E12C4C;
    width: 19px;
    height: 19px;
    font-weight: 600;
    color: white;
    display: block;
    border-radius: 50%;
    font-size: .85rem;
    right: -14px;
    top: -14px;
    position: absolute;
}

.notification {
    padding: 12px 0px;
    display: flex;
    gap: 12px;
    position: relative;
}

.notification-section {
    margin-top: 2px;
}

.notification::after {
    position: absolute;
    content: '';
    width: calc(100% + 8px);
    height: calc(100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    transition: 200ms;
    border-radius: 8px;
}

.notification:hover::after {
    background-color: var(--hover-color);
}

.notification-user {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: relative;
}

.notification-content {
    max-width: 236px;
}

.notification-strong {
    font-weight: 600;
    text-transform: capitalize;
}

.notification-date {
    font-size: .875rem;
    font-weight: 600;
    color: rgb(24, 118, 242);
}

.notification-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon .mention {
    background-color: #56d36f;
    display: block;
    padding: 5px;
    fill: white;
}

.post-expanded .post {
    padding-bottom: 16px;
}

.post-expanded {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}

.photo-expanded {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 100;
}

.photo-expanded-image {
    flex: 1;
    background-color: black;
    position: relative;
    user-select: none;
}

.photo-expanded-image div {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 16px;
    transition: 100ms linear;
}

.photo-expanded-image div:hover svg {
    background-color: var(--alt-background-color);
}

.photo-expanded-image .right-photo-button:hover {
    padding-right: 12px;
}

.photo-expanded-image .left-photo-button:hover {
    padding-left: 12px;
}

.photo-expanded-image div svg {
    height: 48px;
    background-color: rgb(182, 182, 182);
    width: 48px;
    padding: 6px;
    border-radius: 50%;
    transition: 300ms;
}

.photo-expanded-close {
    position: relative;
    left: 16px;
    top: 16px;
    padding: 0px !important;
    cursor: pointer;
    z-index: 10;
}

.photo-expanded-close svg {
    height: 42px !important;
    width: 42px !important;
    background-color: transparent !important;
    fill: var(--svg-color);
}

.right-photo-button {
    height: 100%;
    top: 0px;
    right: 0px;
}

.left-photo-button {
    height: 100%;
    top: 0px;
    left: 0px;
}

.photo-expanded-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.photo-post {
    width: 360px;
}

.photo-post .post {
    position: relative;
    z-index: 10;
    border-radius: 0px;
    box-shadow: 0px 0px 0px transparent;
    height: 100%;
    border-top: 1px solid var(--border-color);
}

.photo-post .nav-options {
    height: 56px;
    background-color: var(--alt-background-color);
    padding: 16px;
}

.photo-post .nav-options {
    position: static;
}

.photo-post .nav-modal {
    right: 16px;
    top: 52px;
    z-index: 100;
    width: clamp(248px, 100%, 368px);
}

.notification-content-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.notification-dot {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
}

.notification-dot span {
    background-color: rgb(24, 118, 242);
    border-radius: 50%;
    display: block;
    height: 12px;
    width: 12px;
}

.notification.visited {
    color: var(--color-light);
}

.notification.visited .notification-date {
    font-weight: 400;
    color: var(--color-light);
}

.photo-post .post-data.extra {
    display: none;
}

.post-reactions:nth-child(2) {
    margin-top: 16px;
}

.post .post-hidden-menu {
    background-color: var(--alt-background-color);
    margin-left: auto;
}

.post .post-hidden-menu svg {
    fill: var(--svg-color);
}

.options-available {
    z-index: 1;
}

.options span {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    gap: 8px;
    color: var(--color);
}

.options span svg {
    width: 24px;
    height: 24px;
    fill: rgb(68, 68, 68);
}

.options-available .border-line {
    padding: 0px;
    margin: 8px 0px;
    width: 100%;
}

.hidden-delt {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 30px;
    padding: 0px !important;
    transform: translateY(-70%) rotate(181deg);
    fill: var(--alt-background-color) !important;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.384));
}

.hidden-delt:hover {
    background-color: initial !important;
}

.options-available>span:first-of-type {
    z-index: 10;
    position: relative;
}

.options-available::after {
    content: '';
    z-index: 10;
    position: absolute;
    width: 26px;
    right: 0px;
    z-index: 1;
    height: 36px;
    background-color: var(--alt-background-color);
    top: 0px;
    border-bottom-right-radius: 8px;
}

.first-message {
    padding: 20px 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.first-message-user {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.first-message-username {
    font-size: 1.14rem;
    font-weight: 600;
    text-transform: capitalize;
}

.first-message-data {
    color: var(--color-light);
    font-size: .87rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.notification-content .user-option.group {
    transition: 0s;
    z-index: 10;
    position: relative;
}

.photo-post .post-media-profile {
    display: none;
}

.chat-preview .chat-menu {
    position: fixed;
    border: 1px solid var(--border-color);
    z-index: 10;
    right: 62px;
    margin-top: 12px;
}

.chat-preview .chat-menu svg {
    visibility: hidden;
}

.chat-preview .chat-menu .options {
    background-color: transparent;
}

.chat-preview:hover .chat-menu svg {
    visibility: visible;
}

.options svg {
    fill: var(--svg-color);
}

.options:hover {
    background-color: var(--hover-color-search);
}

.message-content .options {
    background-color: transparent;
}

.message-content .options .hiddenmenu {
    rotate: 90deg;
    padding: 2px;
    fill: var(--svg-color);
    visibility: hidden;
}

.message-content:hover .options .hiddenmenu {
    border-radius: 50%;
    visibility: visible;
}

.message-content .options .hiddenmenu:hover{
    background-color: var(--svg-container-color);
}

.message-content .hidden-delt {
    top: initial;
    bottom: -10px;
    left: 0px;
    transform: translateY(30%);
}

.message-content .options-available::after {
    position: absolute;
    width: 26px;
    right: initial;
    left: 0px;
    z-index: 1;
    height: 12px;
    background-color: var(--alt-background-color);
    bottom: 0px;
    top: initial;
    border-bottom-right-radius: 8px;
}
.message-content .options-available>span:last-of-type {
    z-index: 10;
    position: relative;
}

.message-content .options-available::after {
    position: absolute;
    width: 26px;
    right: initial;
    left: 0px;
    z-index: 1;
    height: 12px;
    background-color: var(--alt-background-color);
    bottom: 0px;
    top: initial;
    border-bottom-right-radius: 8px;
}

.message-content .mine .hidden-delt {
    top: initial;
    bottom: -10px;
    right: 0px;
    left: initial;
    transform: translateY(30%) rotateY(180deg);
}

.message-content .mine .options-available::after {
    position: absolute;
    width: 26px;
    right: 0px;
    left: initial;
    z-index: 1;
    height: 12px;
    background-color: var(--alt-background-color);
    bottom: 0px;
    top: initial;
    border-bottom-right-radius: 8px;
}